@CHARSET "UTF-8";

body .md-selectonemenu {
	display: block;
	position: relative;
}

body .md-selectonemenu label {
	font-weight: normal;
	position: relative;
	transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}

body .md-selectonemenu input.ui-state-error ~ label {
	color: #e62a10;
}

body .md-selectonemenu .ui-message.ui-message-error {
	background-color: transparent;
	border: 0 none;
	margin: 0px;
	color: #e62a10;
	font-size: 12px;
}

body .md-selectonemenu .ui-message.ui-message-error .ui-message-error-icon
	{
	color: #e62a10;
	font-size: 15px;
	top: 2px;
}
